* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#cnvs {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 5px solid white;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    gap: 25px;
    margin-top: 30px;
}

.top > p {
    font-size: 20px;
    font-family: monospace;
    text-align: center;
}

.input {
    position: relative;
}

.top > label {
    display: inline-block;
    font-family: monospace;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 20px;
    border-width: 2.5px;
    background: linear-gradient(to right, #BD00FF, #FE00B8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-style: solid;
    border-image: linear-gradient(to right, #BD00FF, #FE00B8) 1;
}

input[type="file"] {
    display: none;
}

.controls{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    gap: 40px;
    align-items: center;
}

.controls > label {
    font-family: monospace;
    color: white;
    font-size: 20px;
}

.controls > input{
    width: 400px; 
}